/* insures item's text cannot be selected */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
       -khtml-user-select: none; /* Konqueror */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    not supported by any browser */
}

.the-legend {
  border-style: none;
  border-width: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  font-weight: bold;
  font-family: sans-serif;
}

.the-fieldset {
  border: 2px groove threedface #444;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
  background-color: aliceblue;
  padding : 10px;
}

h1{color:#0000ff; font-size:16px;font-weight:bold;font-family:sans-serif;}
.nav-right{float:right;}
.competencyHeader{color:#0000ff;}
.createdDate{font-size:x-small;font-family:sans-serif;float:right;}
.exampleHeader{font-size:small;font-family:sans-serif;font-weight:bold;}
p{margin-bottom:5px;}
#qrForm{display:none;
  background:white;
  position:absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  width:190px;height:190px;
  border:#0000ff;
  border-style:solid;}